src/main/resources/schemas/crypto.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="Box">
    <xsd:sequence>
      <xsd:element name="mac" type="xsd:base64Binary"/>
      <xsd:element name="ciphertext" type="xsd:base64Binary"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Envelope">
    <xsd:sequence>
      <xsd:element name="ciphertext" type="xsd:base64Binary"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
